*{
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
}
.head{
   display: flex;
   justify-content: space-between;
}
.nav-links{
  display: flex;
  gap: 40px;
  list-style: none;
  margin: auto;
}
.link{
    color: black;
    text-decoration: none;
}
.aventure{
 background-color :rgb(36, 24, 209);
 color: aliceblue;
 text-decoration: none;
 border-radius: 8px;
 padding: 8px;
 margin: 5px;
}

.divglobale{
background-color: #08111D;
display: flex;
justify-content: space-between;
}
.section_hero{
  color: rgb(255, 254, 254);
} 

.compus {
  color: rgb(255, 255, 255);
  font-size: 125px;
  margin-left: 50px;
}
.titre2 {
    display: flex;
    align-items: center;
    margin-top: -30px ;
    margin-left: 50px;
}
.LIFE {
    color: blue;
    font-size: 125px; 
    
}
.vert{
   font-size: 125px;  
   color: #0acd72;
   margin-left: 60px;
}

.titre3{
  font-size: 35px ; 
  margin-left: 50px;
  margin-top: -10px;
}
.paraghraph{
  margin-left: 50px; 
}

#butt1{
  background-color :rgb(44, 33, 204); 
  color: blanchedalmond;
  padding: 5px;
  margin-right: 60px ;
  margin-top: 10px;
  font-size: 25px ;
  margin-left: 50px;
}
#butt2{
    color: blanchedalmond;
    background-color :#08111D ; 
    padding: 5px;
    margin-top: 10px;
    font-size: 25px ;
    
}
.les_cercles{
  display: flex;
  margin: 20px 50px ;
  
}

.cercle1 {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(154, 213, 229);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cercle2 {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(229, 236, 193);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.paraghraph2_section{
  margin-left: 25px ;
  font-size: 15px;
}
.hero-image {
    object-fit: cover;
}
.statistiques{
  display: flex;
  justify-content: space-between;
  gap: 5px;
  padding: 20px ;

   
}
.satistiques_seul{
  display: flex;
  justify-content: center;
  width: 25%;
  border-left: 1px solid black ;
}
.satistiques_seul:first-child {
   border-left: 1px solid white ;
}
.fa-sharp {
  color: rgb(12, 101, 235); --fa-rotate-angle: 50deg;
  font-size: 25px;
  margin-right: 20px;
}
.fa-solid {
  color: rgb(12, 101, 235); --fa-rotate-angle: 50deg;
  font-size: 25px;
  margin-right: 20px;
}
.les_titres_statistique{
  margin-top: -10px;
}
.paraghraph_statistiques{
  margin-top: 5px;
}
#butt1:last-child{
  margin-left: 0px ;
}
.presentation_campus{
 background : #F4F7FC;
 display: flex;
 justify-content:space-between;
 padding: 50px;
}
.paraghraph_1presentation_campus{
  color: rgb(35, 160, 228);
  
}
.titre1_presentation_campus{
  font-size: 55px;

}
.paraghraph_2presentation_campus{
  margin-top: 20px ;
}

.article_des_image{
  display: flex;
  object-fit: cover;

}
.image_1compus{
  transform: rotate(-5deg);
  Width : 208px;
  Height : 191px;
  padding-top: 42px;
  margin-left: 100px;
  transform: rotate(7deg);
}
.image_2compus{
   width: 192px;
   height: 169px;
   padding-top: 78px;
   border-radius: 10px;
   
}

.image_3compus{
width: 176px;
height: 123px;
transform: rotate(5deg);
padding-top: 26px;
border-radius: 10px;
}



