*{
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
}
.head{
   display: flex;
   justify-content: space-between;
}
.nav-links{
  display: flex;
  gap: 40px;
  list-style: none;
  margin: auto;
}
.link{
    color: black;
    text-decoration: none;
}
.aventure{
 background-color :rgb(36, 24, 209);
 color: aliceblue;
 text-decoration: none;
 border-radius: 8px;
 padding: 8px;
 margin: 5px;
}

.divglobale{
background-color: #08111D;
display: flex;
justify-content: space-between;
}
.section_hero{
  color: rgb(255, 254, 254);
} 

.compus {
  color: rgb(255, 255, 255);
  font-size: 125px;
  margin-left: 50px;
}
.titre2 {
    display: flex;
    align-items: center;
    margin-top: -30px ;
    margin-left: 50px;
}
.LIFE {
    color: blue;
    font-size: 125px; 
    
}
.vert{
   font-size: 125px;  
   color: #0acd72;
   margin-left: 60px;
}

.titre3{
  font-size: 35px ; 
  margin-left: 50px;
  margin-top: -10px;
}
.paraghraph{
  margin-left: 50px; 
}

#butt1{
  background-color :rgb(44, 33, 204); 
  color: blanchedalmond;
  padding: 5px;
  margin-right: 60px ;
  margin-top: 10px;
  font-size: 25px ;
  margin-left: 50px;
}
#butt2{
    color: blanchedalmond;
    background-color :#08111D ; 
    padding: 5px;
    margin-top: 10px;
    font-size: 25px ;
    
}
.les_cercles{
  display: flex;
  margin: 20px 50px ;
  
}

.cercle1 {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(154, 213, 229);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cercle2 {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(229, 236, 193);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.paraghraph2_section{
  margin-left: 25px ;
  font-size: 15px;
}
.hero-image {
    object-fit: cover;
}
.statistiques{
  display: flex;
  justify-content: space-evenly;
}
.satistiques_seul{
  display: flex;
  margin: auto;
  margin-top: 20px;
  
}
.fa-sharp {
  color: rgb(12, 101, 235); --fa-rotate-angle: 50deg;
  font-size: 25px;
  margin-right: 20px;
}
.fa-solid {
  color: rgb(12, 101, 235); --fa-rotate-angle: 50deg;
  font-size: 25px;
  margin-right: 20px;
}
.les_titres_statistique{
  margin-top: -10px;
}
.paraghraph_statistiques{
  margin-top: 5px;
}
.ligne{
  margin-left: 50%;
  font-size: 35px;
}